<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>500</integer>
		</dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                



	</array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                



        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>800</integer>
                </dict>



        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>900</integer>
                </dict>



        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>900</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1000</integer>
                </dict>



        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>900</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1100</integer>
                </dict>



        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>700</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>900</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1200</integer>
                </dict>



       


        </array>
        
</array>
</plist>
